<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CURRENT DATE</title>
    <link rel="stylesheet", href="../static/css/style.css">
</head>

<body>
<div>
    <h1>CURRENT DATE</h1>
    <h2>How extraordinary to know that today the date is:</h2>
    <h3>{{current_date}}</h3>
</div>
<div>
    <h1>CURRENT HOUR</h1>
    <h2>And you cannot ignore now that the hour is:</h2>
    <h3>{{current_time}}</h3>
    <p class="w3-text-orange" style="text-shadow:1px 1px 0 #444";>{{message}}</p>
</div>

</body>
</html>
